/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
  min-height: 100vh;
  height: auto;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(137,204,222,1) 100%);
}

.text-primary2 {
  color: rgba(2,0,36,1) !important;
}

.bg-primary2 {
  background-color: rgba(2,0,36,1) !important;
}

#header {
  min-height: 300px;
  height: auto;
}

#skills {
  min-height: 400px;
  height: auto;
}

#education {
  min-height: 200px;
  height: auto;
}

#footer {
  min-height: 200px;
  height: auto;
}

#img-perfil {
  width: 300px;
  height: 300px;
  background-image: url("assets/Yo.jpg");
}

.mx-10 {
  margin: 0 10rem;
}



/* Extra peque単o (xs) */
@media (max-width: 575.98px) {
  /* Estilos para pantallas extra peque単as */
  #header {
    min-height: 500px;
  }
  .mx-10 {
    margin: 0 2rem;
  }

  #img-perfil {
    width: 200px;
    height: 200px;
  }

  .logos {
    width: 100%;
  }
  
}

/* Peque単o (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para pantallas peque単as */
  #header {
    min-height: 500px;
  }

  .mx-10 {
    margin: 0 2rem;
  }

  #img-perfil {
    width: 200px;
    height: 200px;
  }

  .logos {
    width: 100%;
  }

  
}

/* Mediano (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para pantallas medianas */
  #header {
    min-height: 500px;
  }

  .mx-10 {
    margin: 0 2rem;
  }

  #img-perfil {
    width: 200px;
    height: 200px;
  }

  .logos {
    width: 100%;
  }
  
}

/* Grande (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas grandes */
  #img-perfil {
    width: 200px;
    height: 200px;
  }
}

/* Extra grande (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para pantallas extra grandes */
  #img-perfil {
    width: 200px;
    height: 200px;
  }
}

/* Extra extra grande (xxl) */
@media (min-width: 1400px) {
  /* Estilos para pantallas extra extra grandes */
  #img-perfil {
    width: 300px;
    height: 300px;
  }
}